<h1>Planificateur de repas</h1>

<button (click)="addMeal()">Ajouter un repas</button>
<button (click)="removeMeal()">Supprimer un repas</button>
<button (click)="shuffleMeals()">Mélanger les repas</button>

<div *ngFor="let meal of meals; let i = index">
  <h2>{{ meal.name }}</h2>
  <button (click)="editMeal(i)">Modifier</button>
  <button (click)="removeMeal(i)">Supprimer</button>
  <ul>
    <li *ngFor="let ingredient of meal.ingredients">{{ ingredient }}</li>
  </ul>
</div>

<h2>Ingrédients</h2>
<ul>
  <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
</ul>
